In [2]:
import pandas as pd
import os
from datetime import datetime
import plotly.graph_objects as go
from iexfinance.stocks import Stock

In [8]:
token = "pk_d928c8ddf4834ae3bcd3ac64b73af451"

if "aapl" not in locals():
    print('getting data')
    aapl = Stock('AAPL', output_format='pandas', token=token)

In [9]:
aapl

Stock(symbols=AAPL, output_format='pandas')

In [15]:
from iexfinance.stocks import get_historical_data

start = datetime(2017, 1, 1)
end = datetime(2018, 1, 1)

if "df" not in locals():
    df = get_historical_data("TSLA", start, end, token=token)

In [16]:
df

,close,high,low,open,symbol,volume,id,key,subkey,updated,...,uLow,uVolume,fOpen,fClose,fHigh,fLow,fVolume,label,change,changePercent
2017-01-03,43.398,44.066,42.192,42.972,TSLA,29616270,HISTORICAL_PRICES,TSLA,,1606830572000,...,210.96,5923254,42.972,43.398,44.066,42.192,29616270,"Jan 3, 17",0.66,0.0154
2017-01-04,45.398,45.6,42.862,42.95,TSLA,56067355,HISTORICAL_PRICES,TSLA,,1606830572000,...,214.31,11213471,42.95,45.398,45.6,42.862,56067355,"Jan 4, 17",2,0.0461
2017-01-05,45.35,45.496,44.39,45.284,TSLA,29558475,HISTORICAL_PRICES,TSLA,,1606830572000,...,221.95,5911695,45.284,45.35,45.496,44.39,29558475,"Jan 5, 17",-0.048,-0.0011
2017-01-06,45.802,46.062,45.09,45.386,TSLA,27639465,HISTORICAL_PRICES,TSLA,,1606830572000,...,225.45,5527893,45.386,45.802,46.062,45.09,27639465,"Jan 6, 17",0.452,0.01
2017-01-09,46.256,46.384,45.6,45.794,TSLA,19897420,HISTORICAL_PRICES,TSLA,,1606830572000,...,228,3979484,45.794,46.256,46.384,45.6,19897420,"Jan 9, 17",0.454,0.0099
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-12-22,65.04,66.1843,64.964,65.902,TSLA,21079035,HISTORICAL_PRICES,TSLA,,1606830572000,...,324.82,4215807,65.902,65.04,66.1843,64.964,21079035,"Dec 22, 17",-1.292,-0.0195
2017-12-26,63.458,64.788,63.316,64.766,TSLA,21892065,HISTORICAL_PRICES,TSLA,,1606830572000,...,316.58,4378413,64.766,63.458,64.788,63.316,21892065,"Dec 26, 17",-1.582,-0.0243
2017-12-27,62.328,63.536,62.15,63.2,TSLA,23560555,HISTORICAL_PRICES,TSLA,,1606830572000,...,310.75,4712111,63.2,62.328,63.536,62.15,23560555,"Dec 27, 17",-1.13,-0.0178
2017-12-28,63.072,63.164,61.908,62.35,TSLA,21581735,HISTORICAL_PRICES,TSLA,,1606830572000,...,309.54,4316347,62.35,63.072,63.164,61.908,21581735,"Dec 28, 17",0.744,0.0119
2017-12-29,62.27,63.282,62,63.236,TSLA,18885775,HISTORICAL_PRICES,TSLA,,1606830572000,...,310,3777155,63.236,62.27,63.282,62,18885775,"Dec 29, 17",-0.802,-0.0127

In [25]:
from iexfinance.stocks import get_historical_intraday

date = datetime(2018, 11, 27)

one_day = get_historical_intraday("AAPL", date, token=token, output_format="pandas")

In [27]:
one_day

Empty DataFrame
Columns: []
Index: []

In [28]:
from iexfinance.account import get_api_status

get_api_status(token=token)

ImportError: cannot import name 'get_api_status' from 'iexfinance.account' (/home/charlie/.pyenv/versions/3.8.8/envs/finance/lib/python3.8/site-packages/iexfinance/account/__init__.py)