In [1]:
import pandas as pd

In [3]:
file = "../data/endofday.sql"

import sqlite3
import pandas as pd
# Create your connection.
cnx = sqlite3.connect(file)

df = pd.read_sql_query("SELECT * FROM table_name", cnx)

DatabaseError: Execution failed on sql 'SELECT * FROM table_name': file is not a database